.div {
    height: 100svh;
    background-image: linear-gradient(120deg, rgb(0, 0, 153), white);
}

.form {
    /* padding: 2rem; */
    background-color: #ebe7e721;
    /* width: max-content;
    height: max-content; */
    border: 2px solid #c5c3c34a;
    border-radius: .5rem;
    box-shadow: inset 0px 0px 13px 0px #ffffff4f, -1px 7px 6px 0px #2020203b;
}
