SECRET_KEY=DJANGO_SECRET_KEY
DB_NAME=DB_NAME
DB_HOST=localhost
DB_PORT=''
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
EMAIL_HOST=EMAIL_HOST
EMAIL_PORT=EMAIL_PORT
EMAIL_HOST_USER=team@gmail.com
EMAIL_HOST_PASSWORD=EMAIL_APP_PASSWORD
VAPID_PRIVATE_KEY=VAPID_PRIVATE_KEY
VAPID_ADMIN_EMAIL=VAPID_ADMIN_EMAIL