SECRET_KEY=DJANGO_SECRET_KEY

POSTGRES_DB=teambdayadb
POSTGRES_USER=root
POSTGRES_PASSWORD=team111213
DB_HOST=db
DB_PORT=5432

EMAIL_HOST=EMAIL_HOST
EMAIL_PORT=EMAIL_PORT
EMAIL_HOST_USER=team@gmail.com
EMAIL_HOST_PASSWORD=EMAIL_APP_PASSWORD
VAPID_PRIVATE_KEY=VAPID_PRIVATE_KEY
VAPID_ADMIN_EMAIL=VAPID_ADMIN_EMAIL